<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIConfiguration</key>
	<dict>
		<key>IDPServerURL</key>
		<string>$(API_IDP_SERVER_URL)</string>
		<key>ResourceServerURL</key>
		<string>$(API_RESOURCE_SERVER_URL)</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OAuth Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.expert.oauth</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>expert-backend.test</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
		</dict>
	</dict>
	<key>NSAuthenticationServicesUsageDescription</key>
	<string>This app uses authentication services to sign you in securely</string>
	<key>OAuthConfiguration</key>
	<dict>
		<key>ClientID</key>
		<string>$(OAUTH_CLIENT_ID)</string>
		<key>Issuer</key>
		<string>$(OAUTH_ISSUER)</string>
		<key>RedirectPath</key>
		<string>$(OAUTH_REDIRECT_PATH)</string>
		<key>RedirectScheme</key>
		<string>$(OAUTH_REDIRECT_SCHEME)</string>
		<key>Scopes</key>
		<string>$(OAUTH_SCOPES)</string>
	</dict>
</dict>
</plist>
